

<div class="col-md-6 col-center-block" >
  <div  class="card  " >
    <div class="card-header text-center">
      <h5 *ngIf="login"><b>Authentification</b></h5>
      <h5 *ngIf="registr"><b>S'inscrire</b></h5>
    </div>
    <div class="card-body" >
      <form #f="ngForm" (ngSubmit)="onLogin()" *ngIf="login">

        <div class="form-group">
          <span class="help-block" *ngIf="auth">cette utilisateur nexiste pas </span>
          <label class="control-label">Username:</label>
          <input type="text" name="username" [(ngModel)]="this.user.username" class="form-control" required>
          <span class="help-block" *ngIf="f.controls?.username?.invalid && f.controls?.username?.touched">Veuillez inserer un username valide.</span>
        </div>
        <div class="form-group">
          <label class="control-label">Password:</label>
          <input type="password" name="password" [(ngModel)]="this.user.password" class="form-control" required>
          <span class="help-block" *ngIf="f.controls?.password?.invalid && f.controls?.password?.touched">Veuillez inserer un password valide.</span>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Login</button>
        <button type="button" (click)="onChangeForm()" class="btn btn-primary " style="margin-left: 10px">Registr</button>
      </form>


      <form #ff="ngForm" (ngSubmit)="onRegistr()" *ngIf="registr">
        <div class="form-group">
          <label class="control-label">Username:</label>
          <input type="text" name="username" [(ngModel)]="this.newUser.username" class="form-control" required>
          <span class="help-block" *ngIf="ff.controls?.username?.errors?.required && ff.controls?.username?.touched">Veuillez inserer un username valide.</span>
          <span class="help-block" *ngIf="existe">Username deja utiliseee.</span>
        </div>
        <div class="form-group">
          <label class="control-label">Password:</label>
          <input type="password" #password="ngModel" name="password" [(ngModel)]="this.newUser.password" class="form-control" required>
          <span class="help-block" *ngIf="ff.controls?.password?.invalid && ff.controls?.password?.touched">Veuillez inserer un password valide.</span> <!-- we ca remplace ff.controls.password par password -->

        </div>
        <div class="form-group">
          <label class="control-label">Confirm Password :</label>
          <input type="password" name="confirmedPassword" [(ngModel)]="this.newUser.confirmedPassword" class="form-control" required>
          <span class="help-block" *ngIf="ff.controls?.confirmedPassword?.invalid && ff.controls?.confirmedPassword?.touched">Veuillez inserer un password valide.</span>
          <span class="help-block" *ngIf="compatible">Please entree un password compatible.</span>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!ff.valid">Submit</button>
        <button type="button" class="btn btn-primary " (click)="onChangeForm()" style="margin-left: 10px">Login</button>
      </form>


    </div>
  </div>

</div>
